.list{
  position: absolute;
  top: 20%;
  filter:opacity(0);
  transition: 0.5s;
  text-align: end;
  z-index: 1;
}

.list:hover{
  filter:opacity(1);
}

.titleHeader{
  position: absolute;
  top: 17.5%;
  left: 2.5%;
  color: white;
  transition: 0.5s;
  padding-inline: 5px;
  filter:opacity(0.2);
  z-index: 1;
}

.titleHeader:hover ~ .list {
  filter:opacity(1);
}

.title{
  color: white;
  transition: 0.5s;
  padding-inline: 5px;
}

.title:hover{
  background-color: rgb(100, 100, 100);
}